// color
$white: #fff;
$black: #2e2d2c;
$black01: #171717;

$blue01: #176688;
$blue02: #6a7ea3;
$blue03: #6a97a8;

$gray: #f7f7f7;
$gray01: #707070;
$gray02: #c1c1c1;
$gray03: #e3e2e2;
$gray04: #f5f5f5;
$gray05: #e9e8e8;
$gray06: #bfbfbf;
$gray07: #808080;
$gray08: #e5e5e5;

$yellow: #b39f5d;
$yellow02: #bda862;
$yellow03: #b07766;
$yellow04: #b5885e;

$green01: #8ba37c;
$green02: #7aa397;
$green03: #6a97a8;

$orange: #ef7901;

$red01: #900e0e;
$red02: #ad7ba3;
$red03: #b57980;

$purple01: #8779a3;

// breakpoints
$contentCenter: 1000px;
$windowPC: 769px;
$windowSP: 768px;

// $headerHeight
$headerHeightPC: 190px;
$headerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
